{% extends 'base.html' %}
{% load variables %}
{% load i18n %}
{% block title %}{% trans "Аукционы" %}{% endblock title %}

{% block content %}

{% include 'messages.html' %}


<main class="mt-2 py-5">
    <div class="mx-auto max-w-screen-3xl  md:flex md:items-center md:justify-between md:space-x-5 lg:px-6">
        <div class="flex items-center space-x-5">
            <div>
                <h1 class="text-2xl font-bold text-gray-900">{% trans "Лот" %} {{lot.number}}</h1>
            </div>
        </div>
        <div class="justify-stretch mt-6 flex flex-col-reverse space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-y-0 sm:space-x-3 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
            {% if perms.standard.add_lot %}
            {% if not request.user.groups.all.0.name  == 'operator'%}
                <a href="{% url 'lot_create' %}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-green-700 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:ring-offset-2 focus:ring-offset-gray-100">{% trans "Создать лот" %}</a>
            {% endif %}
            {% endif %}


            {% if request.user.groups.all.0.name  == 'operator' %}
            <a href="{% url 'lot_file_report' %}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-green-700 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:ring-offset-2 focus:ring-offset-gray-100">{% trans "Сформировать отчет" %}</a>
            {% endif %}

        </div>
    </div>
</main>



{% if perms.standard.view_lot %}
<div class='card bg-white m-3 mx-4 max-w-8xl px-4 rounded shadow-md pt-4'>
    {% if not request.user.groups.all.0.name  == 'observer' %}
    {% include 'standard/cards/lot_filter_form.html' with form=form %}
    {% endif %}
    {% include 'standard/cards/lot_grid_view.html' with table=table %}
</div>
{% endif %}

{% endblock content %}
