{% load i18n %}

<!DOCTYPE html>

<html class="h-100">
    <head >
        <title>{% block title %}{% trans "Главная" %}{% endblock title %} Стандарт</title>
        {% load static %}

        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}

            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="ru-RU" />
            {% endblock head_meta_contentlanguage %}

            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}

        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet" href="{% static 'css/app_css.css' %}">
                <link rel="stylesheet" href="{% static 'css/root_css.css' %}">
<!--                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">-->
<!--                <link href="{% static 'css/root.css' %}" rel="stylesheet" media="screen">-->
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
<body class="h-full">
<div class=" h-full">
  <div class="mx-auto">
    <div class="flex flex-row">
      <div class="basis-1/6">
        <div class="flex flex-col min-w-[16rem] ">
          <div class="pt-5 pb-4">
            <div class="flex flex-shrink-0 items-center ">
                  <a href="/">
                    <img class="block px-6 h-8 w-auto lg:hidden" src="" alt="">
                    <img class="hidden px-6 h-8 w-auto lg:block" src="" alt="">
                  </a>
                {% get_current_language as CURRENT_LANGUAGE %}
                {% get_available_languages as AVAILABLE_LANGUAGES %}
                {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                {% for language in languages %}

                <a href="/{{ language.code }}/" class="block text-center">
                    <div class="{% if language.code == CURRENT_LANGUAGE %} border-green-700 {% endif %} border-0 border-b-2 text-gray-900 hover:border-green-500 px-3 py-1 font-normal text-sm" id="headlessui-radiogroup-option-:R1dn4p:" role="radio" aria-checked="true" tabindex="0" data-headlessui-state="checked" aria-labelledby="headlessui-label-:R5dn4p:">
                        <span id="headlessui-label-:R5dn4p:">{{ language.code }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>

            <nav class="mt-5 flex-1 space-y-1 px-2" aria-label="Sidebar">
              <div class="divide-y divide-gray-300">
                <div class="my-3">
                    <div class="dropdown text-end">
                            <span class="text-green-500 group flex items-center px-6 py-2 text-sm font-medium rounded-full"><span id="clock"></span> (Almaty UTС+5)</span>
                        </div>
                {% if user.is_authenticated %}
                    {% if user.groups.all.0.name  == 'operator' or user.is_staff %}
                    <div class="dropdown text-end">
                        <a class="text-green-500 group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="">
                        <span class="flex-1 text-center font-bold">{{ user.get_username }}</span>
                        </a>
                    </div>
                    <div class="dropdown text-end">
                    <a class="mb-2 hover:bg-green-800 text-green-900 hover:text-white shadow-md hover:shadow-xs bg-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'log_auth' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>
                    <span class="flex-1 ml-2">{% trans "Журнал событий" %}</span>
                    </a>
                    </div>
                    {% elif user.profile.company %}
                    <div class="dropdown text-end">
                        <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'profile' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 group-hover:text-gray-100 mr-3 flex-shrink-0 h-6 w-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                        </svg>
                        <span class="flex-1">{% trans "Профиль" %}</span>
                        </a>
                    </div>
                    {% endif %}
                {% else %}
<!--                  <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'auth_signature' %}">-->
                      <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'login' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 group-hover:text-gray-100 mr-3 flex-shrink-0 h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                    </svg>
                    <span class="flex-1">{% trans "Войти" %}</span>
                  </a>
                    <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'auth_register' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 group-hover:text-gray-100 mr-3 flex-shrink-0 h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                    </svg>
                    <span class="flex-1">{% trans "Зарегистрироваться" %}</span>
                  </a>
                {% endif %}
                </div>
                <div class="pt-3">
                    {% if user.is_authenticated %}

                            {% if user.profile.company.status == 'ACTIVE' or user.groups.all.0.name  == 'operator' or user.is_staff %}
                                <div class="dropdown text-end">
                                <a class="mb-2 hover:bg-green-800 text-green-900 hover:text-white shadow-md hover:shadow-xs bg-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'lot_list' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <span class="flex-1 ml-2">{% trans "Аукционы" %}</span>
                                </a>
                                </div>
                            {% endif %}
                            {% if user.profile.company.status == 'ACTIVE' and not user.groups.all.0.name  == 'observer' and not user.groups.all.0.name  == 'operator' %}
                                <div class="dropdown text-end">
                                    <a class="mb-2 hover:bg-green-800 text-green-900 hover:text-white shadow-md hover:shadow-xs bg-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'client_list' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                    </svg>
                                    <span class="flex-1 ml-2">{% trans "Клиенты" %}</span>
                                    </a>
                                </div>
                                <div class="dropdown text-end">
                                    <a class="mb-2 hover:bg-green-800 text-green-900 hover:text-white shadow-md hover:shadow-xs bg-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'log_app' %}">

                                    <span class="flex-1 ml-2">{% trans "Заявки" %}</span>
                                    </a>
                                    </div>
                                <div class="dropdown text-end">
                                    <a class="mb-2 hover:bg-green-800 text-green-900 hover:text-white shadow-md hover:shadow-xs bg-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'log_result' %}">

                                    <span class="flex-1 ml-2">{% trans "Сделки" %}</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if user.profile.company.status == 'PENDING' %}
                                <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'profile'%}">
                                    <span class="flex-1">{% trans "Компания на рассмотрении" %}</span>
                                </a>
                            {% endif %}
                            {% if not user.profile.company and not user.groups.all.0.name  == 'operator' %}
                                <a class="text-gray-900 hover:bg-green-800 hover:text-white group flex items-center px-6 py-2 text-sm font-medium rounded-full" href="{% url 'company_add'%}">
                                    <span class="flex-1">{% trans "Прикрепить компанию" %}</span>
                                </a>
                            {% endif %}
                    <a href="{% url 'logout'%}?next={{request.path}}">
                        <button type="submit" class="text-rose-800  hover:text-red-600 group flex items-center px-14 py-8 text-sm font-medium ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="pl-1 text-rose-800 group-hover:text-red-600 flex-shrink-0 -ml-1 mr-2 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"></path>
                            </svg>
                            {% trans "Выйти" %}
                        </button>
                    </a>
                    {% endif %}
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="basis-4/5">

          {% block content %}if you see this, something is wrong!{% endblock content %}

      </div>
    </div>
  </div>
</div>

</body>
{% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static 'js/libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/root.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
</html>